<a href="https://colab.research.google.com/github/matheusamorim/notebook/blob/master/analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importando as bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import glob

#Criando os caminhos para ser os arquivos do driver

In [ ]:
path = '/content/drive/My Drive/dados/GO'
all_file = glob.glob(path + "/*_CONS.csv")
all_file_2 = glob.glob(path + "/*_DET.csv")

#Fazendo a leitura dos arquivos

In [ ]:
cons= []
for filename in all_file:
  df = pd.read_csv(filename, index_col=None, header=0, encoding='ISO-8859-1')
  df = df.rename(columns={'#ID_EVENTO':'ID_EVENTO'})
  cons.append(df)

det= []
for filename in all_file_2:
  df = pd.read_csv(filename, index_col=None, header=0, encoding='ISO-8859-1')
  df = df.rename(columns={'#ID_EVENTO':'ID_EVENTO'})
  det.append(df)

#Concatena os arquivos

In [ ]:
det = pd.concat(det, axis=0, ignore_index=True)
cons = pd.concat(cons, axis=0, ignore_index=True)

#fazendo a exportação para CSV

In [ ]:
cons.to_csv('2019_cons.csv', index=False,compression=None, encoding='ISO-8859-1')
det.to_csv('2019_det.csv', index=False,compression=None, encoding='ISO-8859-1')

In [ ]:
cons.loc[cons['CID_1'] == "W01"]

        ID_EVENTO  ID_PLANO  ...  LG_VALOR_PREESTABELECIDO LG_OUTLIER
2974   2781230824    101862  ...                         0          0
3088   2781230825    101862  ...                         0          0
16918  2520993187    100677  ...                         0          0
71392  2533337074    100677  ...                         0          0
74323  2494381949     11434  ...                         0          0

[5 rows x 24 columns]